.upvote,
.downvote {
  display: block;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #000;

  &:active {
    color: #f00;
  }

  &:hover {
    color: #f00;
    cursor: pointer;
  }
}
