
<% unless account_signed_in? %>
 <div class="row">
   <div class="col">
    <p class="h4"> Trending Today</p>
  </div>
</div>
 <div class="row">
  <div class="col-sm-3">
   Trending 1 
  </div>
  <div class="col-sm-3">
   Trending 2
  </div>
  <div class="col-sm-3">
   Trending 3 
  </div>
  <div class="col-sm-3">
   Trending 4 
  </div>
 </div>
 <% end %>
 <div class="row mt-4">
   <div class="col">
    <p class="h4"> Popular Posts </p>
  </div>
</div>
<div class="row">
 <div class="col-8">
 <%= render partial: "posts/list", posts: @posts %>
  </div>
  <div class="col-4">
    <p class="h5 mb-4">Up and coming Communities</p>

   <div class="card">
        <ul class="list-group list-group-flush">
         <% @communities.each do |community| %>
          <li class="list-group-item"><%= link_to community.name, community_path(community) %></li>
         <% end %>
    </ul>
    </div>
    <%=link_to "View more", communities_path, class:"btn btn-primary mt-2" %>
  </div>
